# Force Python detection
*.py linguist-detectable=true
/src/* linguist-detectable=true

# Prevent markdown and text from affecting detection
*.md linguist-documentation
*.txt linguist-documentation

# Ignore weird misclassifications (like TeX)
*.tex linguist-detectable=false
